<!-- AIzaSyD8AkpdQ2LBirolGIl14FJ1fONPecm3DBE -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Places Search Box</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" > 
</head>
  <body>
      <div id="symbol_place">
        <img id="gps" class="symbol_place" src="https://img.icons8.com/windows/2x/map-pin.png" height="30px" width="30px" onclick="drawMap()">
        <img id="all" class="symbol_place" src="../image/icon_all.png" height="30px" width="30px">
        <img id="fire" class="symbol_place" src="../image/icon_fire.png" height="30px" width="30px">
        <img id="restaurant" class="symbol_place" src="https://img.icons8.com/windows/2x/restaurant.png" height="30px" width="30px">
        <img id="school" class="symbol_place" src="https://img.icons8.com/windows/2x/school-house.png" height="30px" width="30px">
        <img id="hospital" class="symbol_place" src="https://img.icons8.com/windows/2x/hospital-3.png" height="30px" width="30px">
      </div>
      <div id = "input_search">
        <input id="pac-input"  type="text" placeholder="Nhập địa điểm hiển thị">
      </div>
    <div id="map"></div>
    <script>  
      var myCenter = {lat:35.689487,lng:139.691711};
      var place_name="Vị trí hiện tại";
function search_restaurant(){
}
function search_school(){
}
function search_hospital(){
}
var x_start;
var y_start;
function drawMap(){
  place_name="Vị trí của bạn";
  let options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };
    let geolocation = navigator.geolocation;
    if (geolocation) {
      geolocation.getCurrentPosition(onGeoSuccess, onGeoError, options);
    } else {
      console.log("trinh duyệt của bạn không hỗ trợ Geolocation.");
    }

  function onGeoSuccess(position) {
    x_start = position.coords.latitude;
    y_start = position.coords.longitude;
    myCenter  = {lat: x_start, lng: y_start};
    //myCenter = {lat:35.689487,lng:139.691711}
    initAutocomplete(myCenter);
  }
  
  function onGeoError(error) {
    let detailError;
    if(error.code === error.PERMISSION_DENIED) {
      detailError = "người dùng từ chối chia sẻ vị trí.";
    } 
    else if(error.code === error.POSITION_UNAVAILABLE) {
      detailError = "thông tin vị trí không khả dụng.";
    } 
    else if(error.code === error.TIMEOUT) {
      detailError = "yêu cầu đã hết thời gian ."
    } 
    else if(error.code === error.UNKNOWN_ERROR) {
      detailError = "lỗi không xác định."
    }
    alert(detailError)
  }
  
}
   //Change Place 
  function initAutocomplete() {
       var infowindow_location = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myCenter,
          zoom: 11.5,
          mapTypeId: 'roadmap'
        });
        var marker_location=new google.maps.Marker({
                                    map: map,
                                    position: myCenter,
                                    icon: "../image/marker_location.png"
                                    });
                    marker_location.setMap(map);
                    google.maps.event.addListener(marker_location, 'click', function() {
          infowindow_location.setContent(place_name);
          infowindow_location.open(map, this);
        });

        var around= new google.maps.Circle({
                center: myCenter,
                radius:10000,
                strokeColor:"#0000FF",
                strokeOpacity:0.8,
                strokeWeight:2,
                fillColor:"#C2D8EB",
                fillOpacity:0.4
              });
       around.setMap(map);

       var all = document.getElementById("all");
       all.addEventListener("click", getTwitterData)

        var input = document.getElementById('pac-input');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        // Specify just the place data fields that you need.
        autocomplete.setFields(['place_id', 'geometry', 'name']);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
           alert("Không tìm thấy vị trí");
          }
          else {
            map.setCenter(place.geometry.location);
            console.log(place.geometry.location)
            myCenter = {lat: place.geometry.location.lat(), lng: place.geometry.location.lng()};
            place_name=place.name;
            marker_location.setPosition(myCenter);
            around.setCenter(myCenter);
            getTwitterData();
          }
        });

// Twitter data on Google map
function createPlaceTwitter(places){
  var bounds = new google.maps.LatLngBounds();
  for (var i = 0, place; place = places[i]; i++) {
    var image = {
      url: "../image/icon_twitter.png",
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(25, 25)
    };
    var info="";
    for(var j = 0;j<place.twitter_post.length;j++){
    var detail_user = "<div><img src = "+ place.twitter_post[j].user.profile_image_url +"> <a target=\"_blank\" href = \"https://twitter.com/"+ place.twitter_post[j].user.display_name +"\"><p>"+ place.twitter_post[j].user.name +"</p></a><br/>"
    var detail_text = "<a target=\"_blank\" href = \"https://twitter.com/i/web/status/"+ place.twitter_post[j].id_str +"\"><div>"+ place.twitter_post[j].text +"</div></a></div><hr>"
    info+=detail_user+detail_text;
  }
   
    var infowindow2 = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      map: map,
      icon: "../image/icon_twitter.png",
      title: place.twitter_post.length.toString(),
      position: place.location,
      //user: detail_user,
      label: place.twitter_post.length.toString(),
      text: info
    });
    //marker.setMap(map);
          google.maps.event.addListener(marker, 'click', function() {
          infowindow2.setContent(this.text);
          infowindow2.open(map, this);
                    })
    bounds.extend(place.location);
  }
  map.fitBounds(bounds);
}
// Get Twitter Data
function getTwitterData(){
  console.log(myCenter)
  axios.post('/getData',{radius: 10, location: myCenter})
        .then((res)=>{
           array = res.data;
           if(array.length<1){
             alert("Không có dữ liệu trong vùng được chọn")
           }else{
           createPlaceTwitter(array)
           }
        })
        .catch((err)=>console.log(err))
      }
  }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_MbzpCBBPrMmvO4aLrc52vBXrsviNV6U&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>
